*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#main{
    height: 100%;
    width: 100%;
}
#main .parent{
    height: 100%;
    width: 100%;
    background-image: url(../images/8206-modern-farm.gif);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    padding: 50px 100px;
}
#main .parent .c1{
    height: 35%;
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;    
}
#main .parent .c1 .cc1{
    display: flex;
    flex-wrap: wrap;
}
#main .parent .c1 .cc1 h3{
    font-size: 20px;
    font-weight: 400;
}
#main .parent .c1 .cc1 h6{
    font-size: 19px;
    font-weight: 500;
    margin: 10px 22px;
}
#main .parent .c1 .cc1 textarea{
    background-color: white;
    font-size: 15px;
    font-weight: 500;
}
#main .parent .c2{
height: 25%;
width: 40%;  
display: flex;
flex-wrap: wrap;    
}
#main .parent .c2 h1{
    font-weight:600;
    font-size: 30px;
    margin: 40px 0 ;
}
#main .parent .c2 p{
    font-size: 19px;
    font-weight: 400;
}
#main .parent .c3{
    height: 40%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    padding: 20px 50px;
}
#main .parent .c3 .box{
    height: 100%;
    width: auto;
    margin: 15px 20px;
    background-color: white;
    border: black thin solid;
    border-radius: 20px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
}
#main .parent .c3 .box fa-warehouse{
    font-size: 35px;    
}
#main .parent .c3 .box h7{
    font-size: 13px;
}
#main .parent .c3 .box p{
    font-size: 25px;
}
#main .parent .c3 .box .btn{
    padding: 10px 25px;
    font-size: 16px;
    background-color: rgb(107, 187, 27);
    border: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.btn1{
    padding: 10px 25px;
    font-size: 16px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
#main .parent .c3 .box .btn:hover{
    background-color: rgb(212, 62, 212);
    color: white;
}
.btn1:hover{
    background-color: cornflowerblue;
    color: black;
}
#main1{
    height: 100%;
    width: 100%;
    padding: 50px 20px;
}
#main1 .parent1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#main1 .parent1 h1{
    font-size: 30px;
    font-weight:500 ;
    margin: 15px 0px;
}
#main1 .parent1 p{
    font-size: 17px;
    font-weight:400 ;
    margin: 15px 0px;
} 
#main1 .parent11{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#main1 .parent11 img{
    height: 100px;
    width: 100px;
    margin: 10px 10px;
    background-position: center;
    background-size: cover;
    object-fit: covers;
}

#right-farm{
    height: 100%;
    width: 100%;
    padding: 50px 10px;
}
#right-farm .right-flex{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#right-farm .right-flex .content{
    width: 500px;
    height: auto;
    margin: 20px;
}
#right-farm .right-flex .content img{
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}
#right-farm .right-flex .content h1{
    font-size: 45px;
    margin: 15px 0;
}

#right-farm .right-flex .content p{
    margin: 25px 0;
    line-height: 21px;
    word-spacing: 2px;
}
#glance{
    height: 100%;
    width: 100%;
    padding: 50px 10px;
}
#glance .glance-srn{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
#glance .glance-srn .glance-txt-img{
    height: auto;
    width: 500px;
    margin: 20px;
}
#glance .glance-srn .glance-txt-img h1{
    font-size: 44px;
    margin: 15px 0;
}
#glance .glance-srn .glance-txt-img p{
    margin: 25px 0;
    line-height: 21px;
    word-spacing: 2px;
}

#glance .glance-srn .glance-txt-img img{
    height: 100%;
    width: 100%;
    margin: 20px 0;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}
#farm-things{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 239, 213, 0.774);
    padding: 50px 10px;

}
#farm-things .farm-things-head{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#farm-things .farm-things-head h1{
    font-size: 35px;
    font-weight: 500;
    margin: 25px 0px;
}
#farm-things  .para{
    font-size: 16px;
    font-weight: 400;
    margin: 15px 15px;
}
#farm-things .farm-things-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#farm-things .farm-things-content .equipments{
    height:auto;
    width: 200px;
    margin: 25px 20px;
    border-radius: 19px;background-color: white;
}
#farm-things .farm-things-content .equipments .equip-cnt{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#farm-things .farm-things-content .equipments .equip-cnt img{
    height: 150px;
    width: 100px;
    margin: 10px 0;
}
#farm-things .farm-things-content .equipments .equip-cnt h4{
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
}
#product {
    height: 100%;
    width:100%;
    padding: 50px 10px;
}
#product .content{
height: 100%;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
#product .content .pic-info{
    height: auto;
    width: 450px;
    margin: 20px 0px;
}
#product .content .pic-info img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 15px;
}
#product .content .pic-info h1{
    font-size: 33px;
    font-weight: 500;
    margin: 40px 10px 25px 10px;
}
#product .content .pic-info p{
    font-size: 16px;
    font-weight: 400;
    margin: 15px 15px;
}
#product .content .pic-info .box{
    height: 100px;
    width: 100%;
    border-radius: 22px;
    margin: 50px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
    color: white;
}
#product .content .pic-info .box p{
    font-size: 19px;
    font-weight: 400;
}
#product .content .pic-info .box .b{
    height: 70px;
    width: 70px;
    margin: 5px 10px;
    border-radius: 15px;
    border: black solid thin;
    background-color: yellowgreen;
}
#get{
    height: 100%;
    width: 100%;
    background: url(../images/95662-background.gif);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    padding: 50px 10px;
}
#get .get-cnt{
    height: 100%;
    width: 500px;
    padding: 150px 0;
}
#get .get-cnt h1{
    font-size: 35px;
    font-weight: 500;
    margin: 20px 0;
}
#get .get-cnt p{
    font-size: 16px;
    font-weight: 400;
    margin: 30px 0px;
}
#get .get-info{
    height: 50px;
    width: auto;
}
#get .get-info  input{
    height: 50px;
    width: 80%;
    font-size: 19px;
    font-weight: 300;
    text-align: left;
    border-radius: 15px;
}
@media screen and (max-width:720px) {
    h1{
        font-size: 22px !important;
    }
    .b{
        display: none;
    }
    #main1 .parent11 img{
        height: 60px;
        width: 60px;
        margin: 10px 10px;
    }
    #main .parent .c3 .box .btn:hover{
        background-color: palevioletred;
        color: black;
    }
    .btn1:hover{
        background-color: rgba(201, 101, 8, 0.781);
        color: white;
    }
    
}